<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">
<head th:replace="plantilla/template::head">
    <meta charset="UTF-8">
</head>
<div th:if="${rol == 1}">
  <div th:replace="plantilla/template::barra_admin"></div>
</div>
<div th:if="${rol == 0 || rol == 4}">
    <div th:replace="plantilla/template::barra"></div>
</div>
<div th:if="${rol == 2}">
  <div th:replace="plantilla/template::barra_superadmin"></div>
</div>
<header class="banner-recuperar">
  <div class="container container-banner text-white" style="font-size: 20px;">
    <div class="row">
      <div class="col-lg-6 py-5">
        <h2 class="py-5"><strong>RECUPERACIÓN DE CONTRASEÑA</strong></h2><br>
        <form th:action="@{/recuperar-contrasena}" th:object="${datosRecuperacion}" method="post">
          <div class="form-group">
              <label for="correoODni" style=" font-size: 20px;"><strong>Ingrese su correo o DNI:</strong></label><br><br>
              <input type="text" class="form-control" id="correoODni" name="correoODNI" th:value="${datosRecuperacion.correoODNI}" required><br>
              <span th:if="${errorRecuperacion}" class="text-danger" th:text="${errorRecuperacion}"></span>
          </div>
          <br>
          <button type="submit" class="btn px-5" style="background-color: #098ad8 ; color: white; font-size: 19px;"><strong>Buscar</strong></button>
        </form>
      </div>
    </div>
  </div>
</header>
<script th:inline="javascript">
  var mensajeRecuperacion = /*[[${mensajeRecuperacion}]]*/ null;
  if (mensajeRecuperacion) {
      var confirmacion = confirm(mensajeRecuperacion);
      if (confirmacion) {
          var dni = /*[[${dni}]]*/ null;
          var correo = /*[[${correo}]]*/ null;
          if (dni) {
              window.location.href = "/datos-sesion?dni=" + dni;
          } else if (correo) {
              window.location.href = "/enviar-correo?correo=" + correo;
          }
      } else {
          window.location.href = "/recuperar-contrasena";
      }
  }
</script>

<body>
</body>
<footer th:replace="plantilla/template::footer"></footer>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</html>